In [10]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [11]:
#Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [13]:
df

             A         B
G1 1  0.240629  1.521270
   2  0.482084 -0.453758
   3  0.662200 -2.013544
G2 1 -1.837189 -0.991129
   2 -1.288371 -1.620819
   3  0.174054  0.210980

In [17]:
df.index.names = ['Groups','Num']

In [18]:
df

                   A         B
Groups Num
G1     1    0.240629  1.521270
       2    0.482084 -0.453758
       3    0.662200 -2.013544
G2     1   -1.837189 -0.991129
       2   -1.288371 -1.620819
       3    0.174054  0.210980

In [30]:
df.loc['G1'].loc[2]['B']

-0.4537577693055047

In [31]:
df

                   A         B
Groups Num
G1     1    0.240629  1.521270
       2    0.482084 -0.453758
       3    0.662200 -2.013544
G2     1   -1.837189 -0.991129
       2   -1.288371 -1.620819
       3    0.174054  0.210980

In [32]:
df.loc['G1']

            A         B
Num
1    0.240629  1.521270
2    0.482084 -0.453758
3    0.662200 -2.013544

In [38]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.240629  1.521270
G2     -1.837189 -0.991129