In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [5]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [9]:
d

{'a': 10, 'b': 20, 'c': 30}

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [12]:
labels

['a', 'b', 'c']

In [13]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [14]:
ser1 = pd.Series([1,2,3,4],['INDIA','USA','LONDON','JAPAN'])

In [15]:
ser1

INDIA     1
USA       2
LONDON    3
JAPAN     4
dtype: int64

In [27]:
ser2 = pd.Series([1,2,3,4,5],['India','USA','Korea','Japan','Europe'])

In [28]:
ser2

India     1
USA       2
Korea     3
Japan     4
Europe    5
dtype: int64

In [30]:
ser2['India']

1